<%= form_for(@bite) do |f| %>
<% if @bite.errors.any? %>
    <div id="error_explanation">
      <h2>Wait. What the fork just happened?</h2>
        <h3><%= pluralize(@bite.errors.count, "error") %> prohibited this bite from being saved:</h3>
      <ul>
        <% @bite.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :message %><br>
    <%= f.text_field :message %>
  </div>
  <div class="field">
    <%= f.label :user_id %><br>
    <%= f.text_field :user_id, value: current_user.id %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>

<%= link_to 'Back2Bites', bites_path %>
