<h1>LunchBunch</h1>
<p id="notice"><%= notice %></p>

<h2>Bringing Social Networking Back to the Table</h2>
<h3>See what the rest of the bunch is doing for lunch</h3>
    <p><% @b.each do |x| %>
        <%= x.message %>
        <%= x.user.username %></p>
        <p><%= link_to 'Show', x %>
        <%= link_to 'Edit', edit_bite_path(x) %>
        <%= link_to 'Destroy', x, method: :delete, data: { confirm: 'Are you sure?' } %></p>

    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Bite', new_bite_path %>
