<h1>We like our Bites Well Done</h1>

<p id="notice"><%= notice %></p>


<p>
  <strong>Message:</strong>
  <%= @bite.message %>
</p>

<p>
  <strong>User:</strong>
  <%= @bite.user.username %>
</p>

<%= link_to 'Wait god no I didnt mean to do that!!!!', edit_bite_path(@bite) %> |
<%= link_to 'Back2Bites', bites_path %>
